@import 'tailwindcss';

@theme {
  --color-primary: #59F20D;
  --color-second-dark: var(--color-lime-600);
  --color-second-light: rgb(89 242 13 / 40%);
  --color-third: rgb(89 242 13 / 10%);
  --color-dark: #0F172A;
  --color-gray: #E2E8F0;
}